/*
  <dtml-with base_properties> (do not remove this)
  <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either)
*/

body {
    background: #103162;
    color: #333;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

#visual-portal-wrapper {
    width: 960px;
    margin: 0 auto;
    /* background: transparent url('content_bg.png') repeat-y 300px top; */
}

#portal-top {background: url('bg-header.jpg') no-repeat; height: 100px;}
#portal-columns {background: #fff;}


/* </dtml-with> */
