/*
  <dtml-with base_properties> (do not remove this)
  <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either)
*/

body {
    background-color: #eaeaea;
    color: #ffffff;
    font-family: 'MisoRegular', "Trebuchet MS", Tahoma, Arial, sans-serif;
}

#visual-portal-wrapper {
    width: 265px;
    margin: 0 auto;
    /* background: transparent url('content_bg.png') repeat-y 300px top; */
}



/* </dtml-with> */
